/* 박스모델 */
/* block box */
/* border 스타일링 */
/* padding 여백(안쪽) 스타일링 */
.lion {
  box-sizing: border-box;
  background-color: #ffc;
  border: 1px solid #ccc;
  padding: 10px;
  width: 500px;
  span {
    background-color: #fcf;
    display: block;
    width: 5em;
  }
}
/* inline box */
.like {
  background-color: #ccc;
  display: inline;
  width: 300px;
}

.bootcamp {
  background-color: #cfc;
  display: inline-block;
}

.school {
  border: 1px solid orange;
  margin: 10px;
}
/* <!-- overflow 속성을 활용한 스타일링--> */

.techit {
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
  height: 120px;
  overflow: scroll;
}
